.social-media-btn{
    border-radius: 50%;
    width: clamp(35px, 4vw, 40px);
    height: clamp(35px, 4vw, 40px);
    background-color: rgb(6, 33, 63);
    border: solid 1px black;
    text-decoration: none;
    margin-top: clamp(2px, 4vw, 10px) ;
    margin-right: clamp(17px, 3vw, 30px);
    transition: all 0.4s ease;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.social-media-btn:hover{
    background-color: #c43e3e;
}
.social-media-btn img{
    padding: 0px;
    margin: 0px;
    justify-self: center;
    align-self: center;
    width: clamp(20px, 3vw, 22px);  
    height: clamp(20px, 3vw, 22px);
}
#down-section-btn {
    height: 100px;
    z-index: 2;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: white; 
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
    cursor: pointer;
}

#down-section-btn:hover .stick-R {
    transform: translateY(0px) translateX(8px) rotate(225deg);
}
#down-section-btn:hover .stick-L {
    transform: translateY(0px) translateX(-8px) rotate(-225deg); 
}


.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 50%; /* Yuvarlak yapar */
    cursor: pointer;
    font-size: 20px;
    opacity: 0; /* İlk başta görünmez */
    transform: translateY(100px); /* Aşağıdan gelsin */
    transition: all 0.5s ease-in-out; /* Animasyon efekti */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /* İlk başta gizle */
}

.scroll-top-btn.show {
    opacity: 1; 
    transform: translateY(0); 
    display: block;
}

.scroll-top-btn:hover {
    background-color: var(--primary-color); 
}