#certificate{
    padding-top: 70px;
    min-height: 100vb;
    box-sizing: border-box;
    justify-content: start;
    background-image: url('../../assets/wp-about.png'); /* Arkaplan resminin yolu */
    background-position: start; /* Resmi ortala */
}