#contact{
    padding-top: 10px;
    padding-bottom: 70px;
    justify-content: start;
    box-sizing: border-box;
    justify-content: start;
    background-color: #00060e5b;
    border-top: 5px solid var(--secondary-color);
    background-image: url('../../assets/wp7.png'); 
    background-position: top; 
    display: flex;
    height: 300px;
    justify-content: center;
}

#contact > .column, #contact .textM{
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
}
#contact .project-container-share-button-text {
    width: Clamp(50px, 10vw, 130px);
}

#contact .column {
    gap: Clamp(10px, 5vw, 30px);
}
