#experiance{
    padding-top: 70px;
    min-height: 100vb;
    justify-content: start;
}

#experience-content{
    height: 100%;
    display: flex;
}

#experience-content .row:first-child{
    gap: 3%;
}

#ab{
    margin-top: 1%;
    padding: 2% 1%;
}

.line {
    width: 7px;
    min-height: 100px;
    margin: 0px 20px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.point{
    position: relative;
    width: 20px;
    height: 20px;
    top: 30px;
    left: -7px;
    border-radius: 7px;
    border-radius: 50%; 
    background-color: white;
    border: 1px solid rebeccapurple ;
    transition: all 0.4s ease;
}
.point:hover{
    background-color: black;
    width: 23px;
    height: 23px;
    left: -9px;

}
@media (max-width: 720px) {
    #experience-content .row:first-child{
        flex-direction: column;
    }
    
}