#experiance{
    padding-top: 70px;
    padding-bottom: 8%;
    justify-content: start;
    box-sizing: border-box;
    justify-content: start;
    background-image: url('../../assets/wp4.png'); 
    background-position: top; 
}

#experience-content{
    height: 100%;
    display: flex;
}
#experience-content > div > div.inside-column > div.bold:first-child{
    margin-bottom: 3%;
} 

#experience-content .row:first-child{
    gap: 3%;
}
#edu-container > div.column{
    justify-content: start;
    gap: 2%;
    width: 100%;
}
#edu-container{
    margin-top: 2%;
    padding: 2% 2%;
    gap: 3%;
    width: 100%;
}

.company-logo{
    width: clamp(40px, 6vw, 80px);
    height: clamp(40px, 6vw, 80px);
    max-width: 100%; 
    max-height: 150px; 
}


.line {
    width: 7px;
    min-height: 100px;
    margin-right: 20px;
    margin-left: 7px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.point{
    position: relative;
    width: 20px;
    height: 20px;
    top: 30px;
    left: -7px;
    border-radius: 7px;
    border-radius: 50%; 
    background-color: white;
    border: 1px solid rebeccapurple ;
    transition: all 0.4s ease;
}
.point:hover{
    background-color: black;
    width: 23px;
    height: 23px;
    left: -9px;
}
#experience-content .inside-row{
    width: 100%;
    height: auto;
}
#experience-content .inside-row > div:nth-child(1){
    align-self: baseline;
    width: 50%;
}

#experience-content .inside-row > div:nth-child(2){
    justify-content: right;
    align-self: baseline;
    text-align: end;
    max-width: 230px;
}
@media (max-width: 720px) {
    #experience-content > .row{
        flex-direction: column;
    }
    
}