
.stick-L, .stick-R {
    width: 45px;
    height: 6px;
    border-radius: 20px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    position: relative; /* Animasyon için konumlandırmayı kontrol etmek */
    transition: transform 0.3s ease-in-out; /* Geçiş animasyonu */
}

.stick-L {
    transform: translateY(0px) translateX(-8px) rotate(-45deg);
}

.stick-R {
    transform: translateY(0px) translateX(8px) rotate(45deg);
}



