.hidden{
    display: none;
}

#myBio{
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: clamp(15px, 3vw, 30px);
    background-color: #00060e5b;
    border-radius: 7px;
    border: solid 2px black;
    z-index: 2;
    text-align: left;
    justify-content: center;
    align-items: baseline;
    width: auto;
}
.hidden-avatar{
    display: none;
    height: 200px;
    width: 200px;
}
#avatar-page{
    position: absolute;
    width: 100%;
    height: 100%;
}
#home{
    background-color: #0000001b;
    min-height: 100vb;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/odin2.png'); /* Arkaplan resminin yolu */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5; 
    z-index: -1; 
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.image-container {
    border-radius: 50%;
    position: relative;
    width: clamp(200px, 30vw, 400px); 
    height: clamp(200px, 30vw, 400px); 
    overflow: hidden;
    padding: 10px;
    perspective: 700px;
    z-index: 2;
}
  
.tilt-image {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0); 
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-out, ; 
    transform-origin: center; 
}

.tilt-image:hover{
    box-shadow: 5px 5px 10px #c43e3e;
    cursor: move;
    
}

@media (max-width: 768px) {
    .hidden {
        display: flex;
    }
    #avatar-align{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0px 10px;
        margin: 10px;
    }
    #myBio{
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        gap: 30px;
    }
    #down-section-btn {
        margin-bottom: 10px;
    }
    #home{
        align-content: start;
    }
}



@keyframes color-pulse-border {
    0%, 100% {
        border:solid 2px #0e4666;
    }
    20%, 80% {
        border:solid 2px #0e662d;
    }
    40%,60%{
        border:solid 2px #66660e;
    } 
    50% {
        border:solid 2px #6d1915;
    }
}