@media (max-width: 1400px) {
    .header{
        padding: 10px 100px;
    }
    .page-content{
        padding: 0px 100px;
    }
}
@media (max-width: 1200px) {
    .page-content{
        padding: 0px 70px;
    }
    .header{
        padding: 10px 70px;
    }
}
@media (max-width: 1000px) {
    .page-content{ /* mybio frame ayarı */
        padding: 0px 10px;
    }
    .header{
        padding: 10px 10px;
    }
}

@media (max-width: 720px) {
    .page-content{ /* mybio frame ayarı */
        padding: 0px 40px;
    }
    .header{
        padding: 10px 40px;
    }
}

@media (max-width: 500px) {
    .page-content{ /* mybio frame ayarı */
        padding: 0px 10px;
    }
    .header{
        padding: 10px 10px;
    }
}

