@media (max-width: 1400px) {
    #avatar-align{
        padding: 0px 100px;
    }
    .header{
        padding: 10px 100px;
    }
}
@media (max-width: 1200px) {
    #avatar-align{
        padding: 0px 70px;
    }
    .header{
        padding: 10px 70px;
    }
}
@media (max-width: 1000px) {
    #avatar-align{ /* mybio frame ayarı */
        padding: 0px 10px;
    }
    .header{
        padding: 10px 10px;
    }
}
