.text {
    font-size: 2rem;
    color: #d7d7d7;
    display: flex;
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.bold{
  font-weight: bold;
  color: rebeccapurple;
}
.textS{
  font-size: clamp(13px, 2vw, 18px);
  color: #d7d7d7;
  display: flex;
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.textXS{
  font-size: clamp(10px, 3vw, 15px);
  color: #d7d7d7;
  display: flex;
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.textM{
    font-size: clamp(20px, 3vw, 30px);
    color: #d7d7d7;
    display: flex;
    padding: 0px;
    margin: 0px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.textXL{
  font-size: clamp(40px, 6vw, 50px);
  color: #d7d7d7;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.textL{
  font-size: clamp(20px, 3vw, 50px);
  font-weight: 800;
  color: #d7d7d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.textXL-RGB{
    font-size: clamp(20px, 3vw, 50px);
    margin-left: 10px;
    animation: color-pulse 5s infinite ;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
p{
    margin: 0px;
    font-size: 20px;
}                

.typity {
    border-bottom: 3px solid rgb(14, 88, 14);
    margin: 0px;
    box-sizing: border-box;
    color: #d7d7d7;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 800;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    transition: background-position 1s;
  
    &::after {
      animation: blink-cursor 0.75s step-end infinite;
      background-color: transparent;
      content: "";
      display: block;
      height: 2rem;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
    }
  
    &.highlight {
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.2) 50%,
        transparent 50%
      );
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 200% 2rem;
  
      &::after {
        animation: none;
      }
    }
  }
.button-text-animation {
    position: relative;
    display: inline-block;
    color: white;
    background: linear-gradient(to right, #c43e3e, #031121, #ffffff); /* Işık efekti */
    background-size: 200%; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: light-effect 3s linear infinite;
}
/* Animasyon */
@keyframes light-effect {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}

@keyframes blink-cursor {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #c43e3e;
    width: 2px;
    padding-left: 1px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .typity {
    border-bottom: 2px solid red;
  }
}

@keyframes color-pulse{
  0%, 100% {
    color:  #0e4666;
  }
  20%, 80% {
    color:  #0e662d;
  }
  40%,60%{
    color: #66660e;
  } 
  50% {
    color:  #6d1915;
  }
}
