.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.inside-row{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.inside-column{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(10px, 3vw, 30px)
}

/*Projeler Class için eklenen satır sutün düzeni için yazılmıştır.*/
.grid-flat {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1rem;
}
/*Projeler Class için eklenen Tagların satır sutün düzeni için yazılmıştır.*/
.grid-tags{
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;      /* taşan elemanlar bir sonraki satıra geçer */
    column-gap: 15px;
    row-gap: 5px;            /* kolon + satır arası boşluk */
    align-items: flex-start;
}

.grid-tags > * {
  flex: 0 0 auto;       /* öğe kendi içeriği kadar genişlik alır, esnemez */
  /* istersen burada padding, border-radius, background vs. ekleyebilirsin */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Elemanlar minimum 150px, maksimum eşit genişlik */
    gap: clamp(10px, 3vw, 30px) 
}

.grid-container .about-box{
    padding: clamp(5px, 3vw,  10px);
    height:  clamp(40px, 2vw,  50px);
    gap: 20px;
}
.hide-480{
    display: flex;
}

#row-btn{
    display: flex;
    flex-direction: row;
    align-self: center;
}

@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Elemanlar minimum 150px, maksimum eşit genişlik */
    }
}

@media (max-width: 480px) {
    .grid-container .hide-480 {
        display: none;
    }
}

