body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0; /* Body'nin varsayılan margin'ini kaldır */
    background-color: #2D6A6D;
    margin-top: 100px;
    background-image: url('../assets/bg_image.png'); /* Arkaplan resminin yolu */
    background-size: auto; /* Resmi ekran boyutuna sığacak şekilde ölçekle */
    background-position: top; /* Resmi ortala */
    background-repeat: no-repeat; /* Resmi tekrar etme */
}

.avatar-image{
    border-radius: 50%;
}

.vertical-line {
    background-color: #1B3E40;
    border-radius: 10px;
    width: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); /* X offset, Y offset, Blur radius, Shadow color */
}

.horizontal-line{
    background-color: #1B3E40;
    border-radius: 10px;
    height: 15px;
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); /* X offset, Y offset, Blur radius, Shadow color */
}



.inside-row{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 38px;  
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 40px 38px;  
}
.inside-column{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}