.text-normal{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.text-title {
    font-size: 64px;
    font-weight: bold;
    color: white; 
    margin-top: 10px;
}

.text-normal-big{
    font-size: 18px;
    font-weight: bold;
    color: white; 
    text-align: left;
}
.text-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
}

.text-code{
    font-size: 15px;
    font-weight: 500;
    color: white; 
    line-height: 2;
    text-align: left;
}